pkgbase = sonic-silver-sddm
	pkgdesc = Sonic Silver SDDM Theme
	pkgver = 1.0.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-silver-sddm
	arch = any
	groups = sonicde
	license = GPL-2.0-or-later
	license = LGPL-2.0-or-later
	makedepends = sonic-frameworks-cmake-modules
	depends = sddm
	depends = sonic-workspace
	source = sonic-silver-sddm-1.0.0.tar.gz::https://github.com/Sonic-DE/sonic-silver-sddm/archive/refs/tags/1.0.0.tar.gz
	sha256sums = 2728a0ec2b53b8ffa3bfc83b7312c2b23c5e85d6cee39977db34bf1888650c13

pkgname = sonic-silver-sddm
