pkgbase = sonic-screen
	pkgdesc = SonicDE screen management software
	pkgver = 6.7.5
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-screen
	arch = x86_64
	groups = sonicde
	license = LGPL-2.0-or-later
	makedepends = sonic-frameworks-cmake-modules
	depends = glibc
	depends = kcmutils
	depends = kconfig
	depends = kcrash
	depends = kdbusaddons
	depends = ki18n
	depends = kimageformats
	depends = kitemmodels
	depends = ksvg
	depends = libstdc++
	depends = libx11
	depends = libxcb
	depends = libxi
	depends = plasma5support
	depends = qt6-base
	depends = qt6-declarative
	depends = sonic-frameworks-core-addons
	depends = sonic-frameworks-quick-ui
	depends = sonic-frameworks-windowsystem
	depends = sonic-interface-libraries
	depends = sonic-screen-library
	provides = kscreen
	conflicts = kscreen
	source = sonic-screen-6.7.5.tar.gz::https://github.com/Sonic-DE/sonic-screen/archive/refs/tags/6.7.5.tar.gz
	sha256sums = 3a4d8b6cbcb741b458a55abe3e4c50eb81a3668065649810b832e0dad0e16ba2

pkgname = sonic-screen
