pkgbase = sonic-frameworks-sso
	pkgdesc = A D-Bus service which performs user authentication on behalf of its clients
	pkgver = 8.61.2
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-sso
	arch = x86_64
	groups = sonicde
	license = LGPL
	makedepends = cmake
	makedepends = doxygen
	makedepends = graphviz
	makedepends = ttf-font
	depends = glibc
	depends = libgcc
	depends = qt6-base
	provides = signond
	conflicts = signond
	source = sonic-frameworks-sso-8.61.2.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-sso/archive/refs/tags/8.61.2.tar.gz
	sha256sums = 5cebeff220471f43da15be393fe26487d73568960bf1fbb130add0aabf65fdbe

pkgname = sonic-frameworks-sso
