pkgbase = sonic-frameworks-qml-bridge
	pkgdesc = Provides integration of QML and SonicDE Frameworks
	pkgver = 6.30.0
	pkgrel = 1
	url = https://github.com/Sonic-DE/sonic-frameworks-qml-bridge
	arch = x86_64
	groups = sonicde-frameworks
	license = LGPL-2.0-only
	license = LGPL-3.0-only
	makedepends = doxygen
	makedepends = qt6-shadertools
	makedepends = qt6-tools
	makedepends = sonic-frameworks-cmake-modules
	depends = glibc
	depends = libstdc++
	depends = qt6-base
	depends = qt6-declarative
	depends = sonic-frameworks-gui-addons
	depends = sonic-frameworks-internationalization
	depends = sonic-frameworks-keybind
	depends = sonic-frameworks-settings
	depends = sonic-frameworks-widgets-addons
	provides = kdeclarative
	conflicts = kdeclarative
	source = sonic-frameworks-qml-bridge-6.30.0.tar.gz::https://github.com/Sonic-DE/sonic-frameworks-qml-bridge/archive/refs/tags/6.30.0.tar.gz
	sha256sums = a7b072e967e678be416bf264694403e0ac131660c5ce8fadc385dd29b27546de

pkgname = sonic-frameworks-qml-bridge
